:root {
  --desktop: 1024px;
}

.swiper-slide {
  flex: 0 0 15rem;
}

@media (min-width: 768px) {
  .swiper-slide {
    flex: 0 0 29.5rem;
  }
}
@media (min-width: 1024px) {
  .swiper {
    padding-right: 2rem;
  }
}
